<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search Options</h3>
  </div>
  <div class="panel-body">
      <%= render :partial => 'form' %>
  </div>
</div>

<% if @results.present? %>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Displaying <%= @results.size %> Results</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
		  <% @results.each do |result| %>
        <div class="list-group-item ">
            <h4 class="list-group-item-heading"><%= result.title %> </h4>
          <ul class="list-group active">
            <li class="list-group-item">Album: <%= result.album.title %></li>
            <li class="list-group-item">Released On: <%= result.album.artist.name %></li>
            <li class="list-group-item">Artist: <%= result.album.artist.name %></li>
          </ul>
        </div>
		  <% end %>
      </div>
    </div>
  </div> 
<% end%>
